extends base

block content
	span=errorMessage
	form(method="POST", enctype="multipart/form-data").edit-profile__form
		label(for="avatar") Avatar
		input(id="avatar", type="file", name="avatar", accept="image/*")
		input(name="email", placeholder="Email", type="email", required, value=loggedInUser.email)
		input(name="username", placeholder="Username", type="text", required, value=loggedInUser.username)
		input(name="name", placeholder="Name", type="text", required, value=loggedInUser.name)
		input(name="location", placeholder="Location", type="text", required, value=loggedInUser.location)
		input(type="submit" value="Edit")
		if !loggedInUser.socialOnly
			div.edit-profile__password
				a(href="change-password") Change Password &rarr;